Label {
    -fx-text-fill: #000;
    -fx-font-size: 16px;
}

ScrollPane {
    -fx-background-color: #C6D4D8;
}

.carousel {
    -fx-background-color: rgba(0, 0, 0, 0.8);
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.carousel .carousel-img {
    -fx-background-size: 80% 100%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.carousel .control-button {
    -fx-text-fill: #fff;
    -fx-font-size: 48px;
}

.body .name {
    -fx-font-size: 28px;
}

.body .location Label {
    -fx-font-size: 20px;
}

.body .history .title,
.body .things-to-do .title,
.body .reviews .title {
    -fx-font-size: 24px;
}

.body .things-to-do .to-dos .to-do {
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-border-color: #fff;
    -fx-border-width: 2px;
}

.body .things-to-do .to-dos .to-do .title-container {
    -fx-background-color: rgba(0, 0, 0, 0.3);
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.8), 32, 0, 0, 0);
}

.body .things-to-do .to-dos .to-do .title-container .title {
    -fx-text-fill: #fff;
    -fx-font-size: 20px;
}

.body .reviews .username {
    -fx-font-size: 24px;
}

.body .reviews .review-img {
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-border-color: #fff;
    -fx-border-width: 2px;
}