ScrollPane {
    -fx-background-color: #C6D4D8;
}

.destinations {
    -fx-background-color: #848f9d;
    -fx-background-radius: 16px;
    -fx-text-fill: #fff;
    -fx-prompt-text-fill: #cccccc;
    -fx-border-color: #fff;
    -fx-border-width: 2px;
    -fx-border-radius: 8px;
    -fx-padding: 10px 8px 10px 8px;
}

.categories .category {
    -fx-background-size: cover;
    -fx-background-radius: 16px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-padding: 8px;
    -fx-border-color: #fff;
    -fx-border-width: 2px;
}

.categories .category .text {
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,1), 64, 0, 0, 0);
    -fx-text-fill: #fff;
    -fx-font-size: 16px;
}

.locations-container .more-to-explore {
    -fx-text-fill: #000;
    -fx-font-size: 32px;
}

.locations-container .location {
    -fx-background-size: cover;
    -fx-background-radius: 16px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-border-color: #fff;
    -fx-border-width: 2px;
}

.locations-container .location .name-container {
    -fx-background-color: rgba(0, 0, 0, 0.3);
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.8), 32, 0, 0, 0);
    -fx-padding: 12px;
}

.locations-container .location Label {
    -fx-text-fill: #fff;
    -fx-font-size: 24px;
}