ScrollPane {
    -fx-background-color: #C6D4D8;
}

.header-container {
    -fx-padding: 24px;
    -fx-background-color: #C6D4D8;
}

.header-container .back-button {
    -fx-font-size: 48px;
    -fx-text-fill: #0d4f83;
}

.header-container .destinations {
    -fx-background-color: #848f9d;
    -fx-background-radius: 16px;
    -fx-text-fill: #fff;
    -fx-prompt-text-fill: #cccccc;
    -fx-border-color: #fff;
    -fx-border-width: 2px;
    -fx-border-radius: 8px;
    -fx-padding: 10px 8px 10px 8px;
}

.results-container .location-img {
    -fx-background-size: cover;
    -fx-background-radius: 16px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-padding: 12px;
    -fx-border-color: #414E55;
    -fx-border-width: 2px;
}

.results-container .location-name {
    -fx-font-size: 20px;
}

.results-container .location-description,
.results-container .location-address {
    -fx-font-size: 16px;
}

.no-result {
    -fx-font-size: 24px;
}
